  .login-form{
    color : var( --navbar-hover-color);
    font-size: 20px;
    font-style: 'KCObraLetraRegular', sans-serif;
    display: flex;
    justify-content: center;
  }

  .logout-text{
    color : var( --navbar-hover-color);
    font-size: 20px;
    font-style: 'KCObraLetraRegular', sans-serif;
    display: flex;
    justify-content: center;
  }
