.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
}


@font-face {
    font-family: 'KCObraLetraRegular';
    src: url('../../font/KCObraLetraBold.woff2') format('woff2'),
         url('../../font/KCObraLetraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .text-login{
    color : var( --navbar-hover-color);
    font-size: 20px;
    font-style: 'KCObraLetraRegular', sans-serif
  }