.post-separateur {
    width: 95%;
    height: 0;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.post-content {
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
}

/* Temporary waiting for image */
.media {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
}