@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Perform%20Japanese&stroke=Serif&vfonly=true&subset=latin&noto.script=Latn');

:root {
  --main-bg-color: #013120;
  --navbar-bg-color:#94c6b0;
  --navbar-color-text:#013120;
  --navbar-hover-color:#bddbce;
}

body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(0, 0, 0); 
}

/*! -----------HEADER------------ */

@font-face {
  font-family: 'KCObraLetraRegular';
  src: url('./font/KCObraLetraBold.woff2') format('woff2'),
       url('./font/KCObraLetraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('./font/Impact.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  background-color:var(--main-bg-color);
}
