@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Perform%20Japanese&stroke=Serif&vfonly=true&subset=latin&noto.script=Latn');

:root {
  --main-bg-color: #013120;
  --second-bg-color: #59866fd2;
  --navbar-bg-color:#94c6b0;
  --navbar-color-text:#013120;
  --navbar-hover-color:#bddbce;
  --title-color:#fffaee;
  --title-second:#465a48c0;
}



/*! -----------FONT------------ */

@font-face {
  font-family: 'KCObraLetraRegular';
  src: url('./font/KCObraLetraBold.woff2') format('woff2'),
       url('./font/KCObraLetraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stencil';
  src: url('./font/StencilRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('./font/Impact.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


.bodyColor {
  background-image: url('./imgs/leaf3.jpg'); /* Replace with your image path */
  background-color: var(--second-bg-color); /* Semi-transparent white overlay; adjust as needed */
  background-blend-mode: overlay; /* Blend the background color with the image */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; /* Ensure this is 100% for full height */
  flex: 1;
}


/*! -----------TEXT------------ */

.parent-of-title { /* Replace with the actual parent class or element */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make sure parent has a defined height */
}

.title {

  margin-top: -10%;
  font-size: 50px;
  color:var(--title-color) ;
  text-decoration: underline;
  font-family: 'KCObraLetraRegular', sans-serif;
  display: block;
  text-align: center;
  align-items: center;

}
.title2 {

  margin-top: 3%;
  font-size: 50px;
  color:var(--title-color) ;
  text-decoration: none;
  font-family: 'KCObraLetraRegular', sans-serif;
  display: block;
  text-align: center;
  align-items: center;

}
.filterText {
  color:var(--title-color) ;
  text-decoration:none;
  font-family: 'Stencil', sans-serif;
}

.accordionButtonText{
  color:var(--title-color) ;
  font-size:calc(0.8vh + 0.7rem);
}
.accordionPanelText{
  color:var(--navbar-color-text) ;
  font-size: calc(0.8vh + 0.7rem);
  font-family: 'Stencil', sans-serif;
  font-weight: 600;
  text-align: center;
}
.borderBox{
  border: 3px #fffaee;
  flex:1;
  text-align:left;
}

.center {
  text-align: center;
}
.centered-image {
  display: flex ; 
  justify-content: center;
  align-items: center;
  text-align: center;
}


.right {
  text-align: right;
}

.filter{
  margin: 1%;
}

/*! -----------NAV------------ */
/* Style the links */
nav>ul>li>a {
  color: var(--navbar-color-text);
  font-size: 23px;
  font-family: 'Impact', sans-serif;
  text-decoration: none; /* Removes underline from links */
  padding: 4px 15px; /* Padding for clickable area */
  border-radius: 7px; /* Rounded corners */
}

/* Style the links on hover */
nav>ul>li>a:hover {
  background-color: var(--navbar-hover-color); /* Change color on hover */
}

nav {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space between logo and ul */
  padding: 10px;
}

nav, nav ul, nav img, nav a, nav li {
  background-color: var(--navbar-bg-color);
}

.navbar-logo {
  height: calc(3vh + 2rem);
  margin-right: 0;
}

/* nav ul {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  height: 100%;
  width: 100%;
}

nav ul li {
  margin: 0 15px; /* Space between list items */
}


/*! -----------CARD------------ */

.rowCard{

}

/* Apply styles for medium screens and up */
@media screen and (min-width: 48em) { /* 48em is equivalent to 768px */
  .rowCard {
    margin: 100px;
  }
}



/*! -----------PARALLAX------------ */


.parallax-background {
  background-size: cover;
  background-attachment: fixed;
}

.parallax-title {
  text-align: center;
  color: white; /* or any color of your choice */
  font-size: 2rem; /* adjust as needed */
}

/*! -----------SCROLL------------ */

.scroll-container {
  scroll-snap-type: y mandatory; /* Vertical scrolling */
  overflow-y: scroll;
  height: 100vh; /* Adjust as needed */
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh; /* Adjust based on your content */
}