@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=Perform%20Japanese&stroke=Serif&vfonly=true&subset=latin&noto.script=Latn');

:root {
  --main-bg-color: #013120;
  --navbar-bg-color:#94c6b0;
  --navbar-color-text:#013120;
  --navbar-hover-color:#bddbce;
}

body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(0, 0, 0); 
}

/*! -----------HEADER------------ */

@font-face {
  font-family: 'KCObraLetraRegular';
  src: url('./font/KCObraLetraBold.woff2') format('woff2'),
       url('./font/KCObraLetraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: url('./font/Impact.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  background-color:var(--main-bg-color);
}

/* Style the links */
nav>ul>li>a {
  color: var(--navbar-color-text);
  font-size: 23px;
  font-family: 'Impact', sans-serif;
  text-decoration: none; /* Removes underline from links */
  padding: 4px 15px; /* Padding for clickable area */
  border-radius: 7px; /* Rounded corners */
}

/* Style the links on hover */
nav>ul>li>a:hover {
  background-color: var(--navbar-hover-color); /* Change color on hover */
}

nav {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space between logo and ul */
  padding: 10px;
}

nav, nav ul, nav img, nav a {
  background-color: var(--navbar-bg-color);
}

.navbar-logo {
  height: 8vh; 
  margin-right: 0px;
}

nav ul {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr 1fr 1fr; /* Three columns, each 1 fraction of the available space */
  justify-items: center; /* Center items horizontally in the grid cell */
  align-items: center; /* Center items vertically in the grid cell */
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  height: 100%; /* Ensure the ul takes full height of the nav */
  width: 100%;
}


nav ul li {
  margin: 0 15px; /* Space between list items */
}


